<div id="HomeBannerImg" style="height:400px;background-image:url('../../assets/images/banner1.jpg');">
</div>
<div style="width:300px; margin:2px 700px;">
    <p style="width:500px;height:50px;background-color:orangered;color:aliceblue;font-size:30px;" >
            Our pizzas are a true labour of love!!....
    </p>
    Our pizzas are a true labour of love!
    They are made from a fresh base, slowly resen over 12 hours, <br>
    with added herbs, resulting in an incredibly light and delicious dough.
</div> 
<div style="width:300px; margin:2px 100px;">
    <p style="width:500px;height:50px;background-color:orangered;color:aliceblue;font-size:30px;" >
       Whats Special.............???????
    </p>
     <b><font color="Red">On Time Every Time</font></b> <br>
     <i><font color="blue">Super Easy Ordering</font></i> <br>
     <u><font color="green">Super quick relivery</font></u> <br>
    Awesome Experience!!!!!!!..........
    </div> 
<br>
<footer style="background-color:black;text-align:center;" >
    <font color="white" size="10">Go Get Your Pizza!!!!!!!!..........</font>
</footer>
